@charset "utf-8";

html {
  background-color: antiquewhite;
}

figure{
  padding: 0;
  margin: 0;
  width: 70%;
  float: left;
}

hgroup {
  text-align: center;
  margin-top: 45%;
}

section {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.button {
  text-align: center;
  border: 1px solid aliceblue;
  border-radius: 10px;
  width: 20%;
  margin: 0 auto;
  margin-top: 10%;
  padding: 1%;
  background-color: aliceblue;
}

.button:hover{
  transform: scale(1.1);
  background-color: burlywood;
}

.button a{
  text-decoration: none;
  color: grey;
}

.button a:hover{
  color: white;
}

nav {
  text-align: center;
  margin-top: 10%;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 10px;
}

i:hover{
  color: crimson;
  transform: scale(1.1);
  
}

p {
  width: 80%;
  margin: 0 auto;
  padding: 2%;
  margin-top: 10%;
  text-align: justify;
}

aside {
  width: 30%;
  float: right;
}

/* --------------------- media ------------------------ */

@media(max-width: 1000px){
  figure{
    float: none;
    width: 100%;
  }
  aside{
    float: none;
    width: 100%;
  }
  
  hgroup{
    margin-top: 10%;
  }
}